:root {
    --navBlack: rgba( 0, 0, 0, .8 );
}

body { 
    align-items: center;
    background-image: linear-gradient( lightgray, white );
    display: flex; 
    flex-direction: column;
    font-family: arial, helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav { 
    background-color: var( --navBlack );
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
}

nav > button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    max-width: 64px;
    min-width: 64px;
    outline: none;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    transition: .2s linear;
    z-index: 2;
}

nav > button::after {
    align-content: center;
    color: var( --navBlack );
    content: attr( data-label );
    font-size: 16px;
    font-weight: bold;
    height: calc( 100% - 2rem );
    left: 100%;
    line-height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc( 50% - 10px );
    transition: .5s ease-in-out;
    white-space: nowrap;
    z-index: -1;
}

nav > button:hover { 
    background-color: steelblue; 
    overflow: visible;
}

nav > button:hover::after { 
    opacity: 1;
    padding: 0 1rem; 
}

nav > button.active { background-color: steelblue; }

aside { 
    padding: 1rem 0; 
    width: 80vh;
}

aside > span { 
    display: block;
    font-weight: bold; 
}

aside > span::after { 
    content: attr( data-value ); 
    font-weight: normal;
}

main {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
    flex-basis: 80vh;
    flex-shrink: 0;
    margin: auto;
    width: 80vh;
}

main > section {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
}

main > section > div { 
    background-color: rgba( 255, 255, 255, .5 );
    position: relative; 
}

main > section > div > mark {
    align-items: center;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
    font-size: 14px;
    left: 4px;
    line-height: 14px;
    height: calc( 100% - 8px );
    justify-items: center;
    position: absolute;
    top: 4px;
    width: calc( 100% - 8px );
    word-break: break-all;
    z-index: 2;
}

main > section > div > mark > span { min-height: 14px; }

main > section > div > mark > span.active::after {
    content: attr( data-value );
    color: black
}

main > section input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    color: transparent;
    font-size: 3rem;
    height: 100%;
    outline: none;
    padding: 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 0 steelblue;
    transition: .2s linear;
    width: 100%;
    z-index: 3;
}

main > section input:focus { box-shadow: 0 0 20px steelblue; }

main > section div:nth-child( 3 ) input,
main > section div:nth-child( 6 ) input,
main > section div:nth-child( 9 ) input { border-right: none; }

main > section div:nth-child( 7 ) input,
main > section div:nth-child( 8 ) input,
main > section div:nth-child( 9 ) input { border-bottom: none; }

main > section input.error { 
    background-color: rgba( 255, 0, 0, .2 );
    color: crimson;
}

main > section input::-webkit-inner-spin-button,
main > section input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}

main > section input:disabled { color: black; }