main.grid {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
    flex-basis: 80vh;
    flex-shrink: 0;
    width: 80vh;
}

/**
 * Mobile
 */
 @media screen and ( max-device-width: 740px ){
    main.grid {
        flex-basis: 900px;
        width: 900px;
    }
}