div.cell { 
    background-color: transparent;
    position: relative; 
    transition: .2s linear;
}

div.cell > mark {
    left: 4px;
    position: absolute;
    top: 4px;
    z-index: 2;
}

div.cell > span {
    align-items: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    color: transparent;
    display: flex;
    font-family: 'Montserrat', arial, helvetica, sans-serif;
    font-size: 3rem;
    height: 100%;
    justify-content: center;
    outline: none;
    padding: 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 0 steelblue;
    transition: .2s linear;
    width: 100%;
    z-index: 3;
}

div.cell.disabled > span { color: black; }

/**
 * States
 */
div.active.cell { background-color: white; }

div.active.cell > span { border-color: steelblue; }

div.cell.error > span { 
    background-color: rgba( 255, 0, 0, .2 );
    color: firebrick;
}

div.selected.cell > span { box-shadow: 0 0 20px steelblue; }

@media screen and (max-device-width: 740px){

    div.cell > span {
        font-size: 2rem;
    }
}