div.cell { 
    background-color: rgba( 255, 255, 255, .5 );
    position: relative; 
}

div.cell > mark {
    left: 4px;
    position: absolute;
    top: 4px;
    z-index: 2;
}

div.cell > input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    color: transparent;
    font-size: 3rem;
    height: 100%;
    outline: none;
    padding: 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 0 steelblue;
    transition: .2s linear;
    width: 100%;
    z-index: 3;
}

div.cell > input:focus { box-shadow: 0 0 20px steelblue; }

div.cell > input.error { 
    background-color: rgba( 255, 0, 0, .2 );
    color: crimson;
}

div.cell > input::-webkit-inner-spin-button,
div.cell > input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}

div.cell > input:disabled { color: black; }