nav { 
    background-color: var( --navBlack );
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
}

/**
 * Mobile
 */
@media screen and ( max-device-width: 740px ){
    nav {
        height: auto;
        width: 100vw;
        position: initial;
    }
}