mark.notes {
    align-items: center;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
    font-size: 14px;
    line-height: 14px;
    height: calc( 100% - 8px );
    justify-items: center;
    width: calc( 100% - 8px );
    word-break: break-all;
}

mark.notes > span { min-height: 14px; }

mark.notes > span.active::after {
    content: attr( data-value );
    color: black
}

@media screen and ( max-device-width: 740px ){
    mark.notes {
        font-size: 10px;
        height: calc( 100% - 4px );
        line-height: 3px;
        width: calc( 100% - 8px );
    }
}