button.menu.item {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    max-width: 64px;
    min-width: 64px;
    outline: none;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    transition: .2s linear;
    z-index: 2;
}

button.menu.item::after {
    align-content: center;
    color: var( --navBlack );
    content: attr( data-label );
    font-size: 16px;
    font-weight: bold;
    height: calc( 100% - 2rem );
    left: 100%;
    line-height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: calc( 50% - 10px );
    transition: .5s ease-in-out;
    white-space: nowrap;
    z-index: -1;
}

button.menu.item:hover { 
    background-color: steelblue; 
    overflow: visible;
}

button.menu.item:hover::after { 
    opacity: 1;
    padding: 0 1rem; 
}

button.menu.item.active { background-color: steelblue; }