@keyframes star {
    0% {
        left: calc( 50% - 36px );
        opacity: 0;
        top: 0;
    }
    80% {
        opacity: 1;
        transform: rotate( 180deg );
    }
    100% { 
        opacity: 0; 
        transform: rotate( 180deg );
    }
}