aside.details { 
    display: flex;
    border-bottom: 2px solid var( --navBlack );
    margin: 1rem auto;
    padding: 1rem 0; 
    width: 80vh;
}

aside.details > span { 
    flex: 1;
    font-weight: bold; 
}

aside.details > span::after { 
    content: attr( data-value ); 
    display: block;
    font-weight: normal;
    text-transform: capitalize;
}

/**
 * Mobile
 */
 @media screen and ( max-device-width: 740px ){
    aside.details {
        width: 900px;
    }
}