<!doctype html>
<html lang="en">
    <head>
        <title>Sudoku</title>
        <meta chartset="utf-8">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <nav>
            <button data-toggle-notes data-label="Toggle Note Mode (N)">
                <i class="fas fa-edit"></i>
            </button>
            <button data-new-game data-label="New Game">
                <i class="fas fa-sync"></i>
            </button>
            <button data-difficulty data-label="Change Difficulty">
                <i class="fas fa-cog"></i>
            </button>
            <button data-save data-label="Save (S)">
                <i class="fas fa-save"></i>
            </button>
        </nav>
        <form>
            <aside>
                <span class="errors" data-value="0">Errors:&nbsp;</span>
                <span class="timer">Elapsed Time:&nbsp;</span>
                <span class="difficulty">Difficulty:&nbsp;</span>
            </aside>
            <main></main>
            <dialog>
                <div data-content></div>
                <button type="reset">
                    <i class="fas fa-2x fa-ban"></i>
                    Cancel
                </button>
                <button type="submit">
                    <i class="fas fa-2x fa-spinner fa-spin" data-loading></i>
                    <i class="fas fa-2x fa-save" data-save></i>
                    Save
                </button>                
            </dialog>
        </form>
        <script src="js/script.js"></script>
        <script>
            const s = new Sudoku();
            s.render();
        </script>
    </body>
</html>