:root {
    --navBlack: rgba( 0, 0, 0, .8 );
}

body { 
    background-image: linear-gradient( lightgray, white );    
    font-family: 'Montserrat', arial, helvetica, sans-serif; 
    margin: 0;
    padding: 0;
}

div#root { 
    flex-direction: column;
    display: flex;
    height: 100vh; 
}