button.control {
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', arial, helvetica, sans-serif;
    font-size: 2.5rem;
    outline: none;
    padding: 0 .5rem;
    text-align: center;
    transition: .2s linear;
}

button.control > small {
    display: block;
    font-size: 1rem;
}

/**
 * States
 */
button.control.active,
button.control:hover { color: steelblue; }

@media screen and (max-device-width: 740px){

    button.control {
        font-size: 2rem;
        padding: 0 .2rem;
    }
}